<div class="inicio-container">
  <div class="inicio-content">
    <h1 class="titulo">Bem-vindo ao Sistema</h1>
    <h2 class="descricao">O objetivo desse desafio é desenvolver uma aplicação para gerenciar tarefas e usuários.</h2>

    <div class="buttons-container">
      <button mat-raised-button color="primary" class="action-button" (click)="irParaTarefas()">
        Tarefas
      </button>
      <button mat-raised-button color="accent" class="action-button" (click)="irParaUsuarios()">
        Usuários
      </button>
    </div>
  </div>
</div>